<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <!-- HTTP status code 403  - 'Access to the requested resource is forbidden' -->
    <title>Forbudt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #205781;
        }

        img {
            width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Forbudt!</h1>
    <h2>Adgang til den ønskede ressource er forbudt</h2>
    <img src="403-status-code.png" alt="Aw snap error illustration">

</body>
</html>