<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Siden ikke fundet</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #f9f9f9;
        }

        img {
            width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>Vi beklager ulejligheden</h1>
    <h2> Noget gik galt under visning af denne hjemmeside... :(</h2>
    <img src="aw_snap.png" alt="Aw snap error illustration">

</body>
</html>