<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- HTTP status code 500  - 'Internal Server Error' -->
    <title>Internal server error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #4F959D;
        }

        img {
            width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Intern server fejl</h1>
    <h2>Siden er desværre ikke tilgængelig</h2>
    <img src="500-status-code.png" alt="Aw snap error illustration">


</body>
</html>